/* Importar Fontes Google */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Variáveis Globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

:root {
  --brand-color: #3f9eff;
  --text-color: black;
  --secondary-text-color: white;
  --tertiary-text-color: #bcbcbc;
  --bg-url: url();
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url();
}
