/* Importar Fontes Google */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Variáveis Globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

:root {
  --brand-color: #3f9eff;
  --text-color: black;
  --secondary-text-color: white;
  --tertiary-text-color: #bcbcbc;
  --bg-url: url();
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url();
}

/* Alterações no específicas no Bootstrap */

/* Alterações em componentes globais */
hr {
  border: none !important; /* Remove a borda padrão */
  border-top: 0.15rem dashed var(--brand-color) !important; /* Borda superior pontilhada */
  height: 0 !important;
  margin: 1rem 0 !important; /* Espaçamento vertical */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important; /* Sombra suave */
}
